$black: #000;
$gravel: #43494f;
$white: #fff;
$merino: #f8f0e6;
$gin-white: #fff8e1;
$bright-gray: #f2f2f2;

$light-gray: #f1efef;
$dark-gray: #29292999;

$orange: #ff871f;
$brick-orange: #be4321;

$light-brown: #e8e2cb;
$dark-brown: #331400;
$gondola: #1f1512;
$brown: #8b5c2d;
$sepia: #713914;

$yellow: #ffd429;
$light-yellow: #e8fa95;

$cyan-blue: rgb(142, 182, 213);
$dark-blue: #07385d;
$tory-blue: #cae3e3;
$light-blue: #9acef5;

$green: #6c981d;
$light-green: #c5ec3b;
$dark-green: #3f5d07;

$dark-red: #5d1507;
$red: #ec593b;
$brown-red: #922f1c;
$pink: #f5a99a;
