{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@internal/(.*)$",
    "^[./].*(?<!\\.(c|le|sc)ss)$",
    "^[.]/[-a-zA-Z0-9_]+[.](module)[.](css|scss|less)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "overrides": [
    {
      "files": ["*.json", "*.cjs"],
      "options": {
        "trailingComma": "none",
        "singleQuote": false,
        "tabWidth": 2,
        "quoteProps": "preserve"
      }
    }
  ]
}
