@use "@/app/styles/mixins" as *;
@use "@/app/styles/text-size" as *;
@use "@/app/styles/colors" as *;

.button {
  @include flex(center, $gap: 14px);
  @include font($size_l, 500, 22px, $black, 0.25px);
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;

  &:hover {
    outline: 1px solid $merino;
  }

  transition:
    0.3s background,
    color,
    border;

  &:active {
    transition: 0.1s;
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #ccc;
  }

  .iconContainer {
    width: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    &[data-icon-only="true"] {
      width: 24px;
      height: 24px;
    }

    > * {
      height: 22px;
      flex-shrink: 0;
    }
  }
}

.primary {
  background-color: $merino;
  border: 1px solid $dark-blue;
  @include font($size_l, 600, 22px, $gondola, 0.25px);

  &:hover {
    background-color: $cyan-blue;
  }

  &:active {
    background-color: $light-brown;
  }
}
.secondary {
}
.success {
}
.error {
}
