@use "@/app/styles/colors" as *;
@use "@/app/styles/mixins" as *;

.item {
  @include flex(center, flex-start, 15px);
  @include font(20px, 400, 20px, $black);
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
  padding: 10px;
  border-radius: 6px;

  &:hover {
    background-color: rgba(248, 248, 248, 0.663);
  }

  .icon {
    @include flex(center, center);
  }
}
