@use "@/app/styles/mixins" as *;
@use "@/app/styles/colors" as *;
@use "@/app/styles/text-size" as *;
@use "sass:color";

.toast {
  border: 2px solid color.adjust($brown, $lightness: 10%);
  box-shadow: inset 0 0 15px $light-brown;
  font-family: Pangolin, sans-serif;
  background: $white;
  font-size: $size_m;
  color: $brown;
}

.progressBar {
  background: $brown;
}
